<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674663797926-a858qrkuq6h80ms6o576ihs4g4um4obl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674663797926-a858qrkuq6h80ms6o576ihs4g4um4obl</string>
	<key>API_KEY</key>
	<string>AIzaSyAM4o6chBohqsiqcXXxlVeQn8t3QCJ-YMA</string>
	<key>GCM_SENDER_ID</key>
	<string>674663797926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>buyear-e477f</string>
	<key>STORAGE_BUCKET</key>
	<string>buyear-e477f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674663797926:ios:fdb9273abb486c91db5067</string>
</dict>
</plist>